<ngb-tabset activeId="userTypeTab">
	<ngb-tab id="userTypeTab">
		<template ngbTabTitle><b>User Type</b></template> 
		<template ngbTabContent>
			<div class="col-md-6 col-md-offset-3">
				<h1>Hi {{currentUser.userName}}!</h1>
				<p>You're logged in the User Type!!</p>
				<user-type-list></user-type-list>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab id="userTab">
		<template ngbTabTitle><b>User</b></template> 
		<template ngbTabContent>
			<div class="col-md-6 col-md-offset-3">
				<h1>Hi {{currentUser.userName}}!</h1>
				<p>You're logged in the User!!</p>
				
			</div>
		</template>
	</ngb-tab>
	<ngb-tab  id="bugSystemTypeTab">
		<template ngbTabTitle><b>Bug System Type</b></template> 
		<template ngbTabContent>
			<div class="col-md-6 col-md-offset-3">
				<h1>Hi {{currentUser.userName}}!</h1>
				<p>You're logged in the Bug System Type!!</p>
				<h3>All registered users:</h3>
				<ul>
					<li *ngFor="let user of users">{{user.userName}} ({{user.name}})
						- <a (click)="deleteUser(user.id)">Delete</a>
					</li>
				</ul>
				<p>
					<a [routerLink]="['/login']">Logout</a>
				</p>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab id="bugSystemTab">
		<template ngbTabTitle><b>Bug System</b></template> 
		<template ngbTabContent>
			<div class="col-md-6 col-md-offset-3">
				<h1>Hi {{currentUser.userName}}!</h1>
				<p>You're logged in the Bug System!!</p>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab id="ruleManagerTab">
		<template ngbTabTitle><b>Rule Manager</b></template> 
		<template ngbTabContent>
			<div class="col-md-6 col-md-offset-3">
				<h1>Hi {{currentUser.userName}}!</h1>
				<p>You're logged in the Rule Manager!!</p>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab id="ruleManagerTypeTab">
		<template ngbTabTitle><b>Rule Manager Type</b></template> 
		<template ngbTabContent>
			<div class="col-md-6 col-md-offset-3">
				<h1>Hi {{currentUser.userName}}!</h1>
				<p>You're logged in the Rule Manager Type!!</p>
			</div>
		</template>
	</ngb-tab>
	<ngb-tab id="projectTab">
		<template ngbTabTitle><b>Project</b></template> 
		<template ngbTabContent>
			<div class="col-md-6 col-md-offset-3">
				<h1>Hi {{currentUser.userName}}!</h1>
				<p>You're logged in the Project!!</p>
			</div>
		</template>
	</ngb-tab>
</ngb-tabset>