<p-tabView>
	<p-tabPanel header="Projects">
		<div>
		</div>
	</p-tabPanel>
	<p-tabPanel header="Rule Managers">
		<div>
		</div>
	</p-tabPanel>
	<p-tabPanel header="Rule Manager Types" [selected]="true">
		<div>
			<rule-manager-type-component (loadingModal)="updateLoadingModal($event)"></rule-manager-type-component>
		</div>
	</p-tabPanel>
	<p-tabPanel header="Bug Systems">
		<div>
		</div>
	</p-tabPanel>
	<p-tabPanel header="Bug System Types">
		<div>
			<bug-system-type-component (loadingModal)="updateLoadingModal($event)"></bug-system-type-component>
			<p>
				<a [routerLink]="['/login']">Logout</a>
			</p>
		</div>
	</p-tabPanel>
	<p-tabPanel header="Users">
		<div>
			<user-list (loadingModal)="updateLoadingModal($event)"></user-list>
		</div>
	</p-tabPanel>
	<p-tabPanel header="User Types">
		<div>
			<user-type-component (loadingModal)="updateLoadingModal($event)"></user-type-component>
		</div>
	</p-tabPanel>
	<p-tabPanel header="Permissions">
		<div>
			<permission-component (loadingModal)="updateLoadingModal($event)"></permission-component>
		</div>
	</p-tabPanel>
</p-tabView>