<div id="ruleManagerTypeSpinner" class="spinner" hidden>
	<div class="rect1"></div>
	<div class="rect2"></div>
	<div class="rect3"></div>
	<div class="rect4"></div>
	<div class="rect5"></div>
</div>

<div id="ruleManagerTypeTableDiv">
	<alert></alert>
	<p-dataTable [value]="ruleManagerTypes" [rows]="10" [paginator]="true"
		[pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
		selectionMode="single" [(selection)]="selectedRuleManagerType"> 
		<p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [styleClass]="col.styleClass"
			[sortable]="true">
		</p-column>
		<footer>
			<div class="ui-helper-clearfix" style="width: 100%">
				<button type="button" pButton icon="fa-plus" style="float: left"
					(click)="showDialog(true)" label="Add"></button>
				<button type="button" pButton icon="fa-edit" style="float: left"
					(click)="showDialog(false, selectedRuleManagerType)" label="Edit"></button>
				<button type="button" pButton icon="fa-remove" style="float: right"
					(click)="deleteRuleManagerType(selectedRuleManagerType)" label="Delete"></button>
			</div>
		</footer> 
	</p-dataTable>

	<p-dialog header="RuleManager Type Details" [(visible)]="displayDialog"
		[responsive]="true" showEffect="fade" [modal]="true">
		<form [formGroup]="ruleManagerTypeForm">
			<div
				class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid type-popup"
				style="margin: 10px 0px">
				<div class="ui-grid-row">
					<div class="ui-grid-col-3">ID:</div>
					<div class="ui-grid-col-8">
						<input type="text" formControlName="ruleManagerTypeId"
							[(ngModel)]="ruleManagerType.idType" class="form-control"/>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-3">Name *:</div>
					<div class="ui-grid-col-8">
						<input type="text" formControlName="ruleManagerTypeName"
							placeholder="Required" [(ngModel)]="ruleManagerType.name"
							class="form-control" />
						<div
							*ngIf="!ruleManagerTypeForm.controls['ruleManagerTypeName'].valid&&ruleManagerTypeForm.controls['ruleManagerTypeName'].dirty"
							class="alert alert-danger">
							<div *ngIf="ruleManagerTypeForm.controls['ruleManagerTypeName'].errors['required']">
								Name is required</div>
							<div *ngIf="ruleManagerTypeForm.controls['ruleManagerTypeName'].errors['minlength']">
								Name must be at least 4 characters long.</div>
							<div *ngIf="ruleManagerTypeForm.controls['ruleManagerTypeName'].errors['maxlength']">
								Name cannot be more than 100 characters long.</div>
						</div>
					</div>
				</div>
				<footer>
					<div
						class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
						<button type="button" pButton icon="fa-check" (click)="save()"
							label="Save" [disabled]="!ruleManagerTypeForm.valid"></button>
						<button type="button" pButton icon="fa-close"
							(click)="closeDialog()" label="Cancel"></button>
					</div>
				</footer>
			</div>
		</form>
	</p-dialog>
</div>